@charset "UTF-8";

////
/// @group body
////

/// Background color of the body.
/// @type Color
$body-background: map_get($color-blackwhite-palette, 'white') !default;

/// Text color of the body.
/// @type Color
$body-font-color: map_get($color-blackwhite-palette, 'darkest') !default;

/// Font stack of the body.
/// @type List
$body-font-family: $font-stack-helvetica !default;

/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
/// @type Boolean
$body-antialiased: true !default;
