@charset "UTF-8";

$font-stack-arial: (
    "Arial",
    "Helvetica",
    "Helvetica-Neue",
    sans-serif,
) !default;

$font-stack-helvetica: (
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif,
) !default;

$font-stack-lucida-grande: (
    "Lucida Grande",
    "Lucida Sans Unicode",
    "Geneva",
    "Verdana",
    sans-serif,
) !default;

$font-stack-verdana: (
    "Verdana",
    "Geneva",
    sans-serif,
) !default;

$font-stack-system: (
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Avenir Next",
    "Avenir",
    "Segoe UI",
    "Lucida Grande",
    "Helvetica Neue",
    "Helvetica",
    "Fira Sans",
    "Roboto",
    "Noto",
    "Droid Sans",
    "Cantarell",
    "Oxygen",
    "Ubuntu",
    "Franklin Gothic Medium",
    "Century Gothic",
    "Liberation Sans",
    sans-serif,
) !default;

$font-stack-garamond: (
    "Garamond",
    "Baskerville",
    "Baskerville Old Face",
    "Hoefler Text",
    "Times New Roman",
    serif,
) !default;

$font-stack-georgia: (
    "Georgia",
    "Times",
    "Times New Roman",
    serif,
) !default;

$font-stack-hoefler-text: (
    "Hoefler Text",
    "Baskerville Old Face",
    "Garamond",
    "Times New Roman",
    serif,
) !default;

$font-stack-consolas: (
    "Consolas",
    "monaco",
    monospace,
) !default;

$font-stack-courier-new: (
    "Courier New",
    "Courier",
    "Lucida Sans Typewriter",
    "Lucida Typewriter",
    monospace,
) !default;

$font-stack-monaco: (
    "Monaco",
    "Consolas",
    "Lucida Console",
    monospace,
) !default;